@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-4">Welcome</h1>

    
    <!-- Tulisan -->
    <h1 class="display-4 text-danger">PERTAMINA</h1>
    <h1 class="display-4 text-dark">E-PAS</h1>
</div>
