<div class="sidebar p-3" style="width: 250px; height: 100vh; background-color: #d1001f; color: white; position: fixed;">
    <h4 class="fw-bold">E-PAS Pertamina</h4>
    <hr class="border-light">
    <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link text-white" asp-controller="Home" asp-action="Index">Dashboard</a></li>
        <li class="nav-item mt-2">
            <strong>Audit</strong>
            <ul class="nav flex-column ms-3">
                <li class="nav-item"><a class="nav-link text-white" href="#">Penjadwalan</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="#">Konfirmasi Penjadwalan</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="#">Hasil Pelaksanaan</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="#">Review Audit</a></li>
            </ul>
        </li>
        <li class="nav-item mt-2">
            <strong>Report</strong>
            <ul class="nav flex-column ms-3">
                <li class="nav-item"><a class="nav-link text-white" href="#">Pasti Prima</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="#">Pasti Pas</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="#">Mystery Guest</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="#">HSSE</a></li>
            </ul>
        </li>
        <li class="nav-item mt-2"><strong>Access</strong></li>
        <li class="nav-item mt-2"><strong>Master Data</strong></li>
        <li class="nav-item mt-2"><strong>Content</strong></li>
        <li class="nav-item mt-2"><strong>Upload</strong></li>
        <li class="nav-item mt-4"><a class="nav-link text-white" href="#">Logout</a></li>
    </ul>
</div>
